*{
    border: 1px solid black;
}
.board{
    width:100vw;
    height:50vh;
    display:flex;
    justify-content:space-around
}
.boardbox{
    width:10vw;
    height:10vw;
    background-color:red
}
.player{
    width: 3vw;
    height: 3vw;
    border-radius: 50px;
}
#player-one{
    background-color:black
}